@model AuthModel
@{
  if (ViewBag.reg) 
    ViewData["Title"] = "Sign Up";
  else
    ViewData["Title"] = "Sign In";


  string method = ViewBag.reg ? "Register" : "Login";
}
<h1>@ViewData["Title"]</h1>

<div>
  <div class="container-liquid">
    <form method="post">    
      <div class="inputEmail form-group">
        <label>Email:</label>
        <input class="form-control" type="email" id="emailInput" asp-for="@Model.Email" placeholder="name@example.com"/>
      </div>
      <div class="inputPassword"> 
        <label>Password:</label>
        <input class="form-control" type="password" id="passwordInput" asp-for="@Model.Password" placeholder="yourPassword"/>
      </div>
      <div class="submit">
        <input class="btn btn-success" type="submit" id="submitButton" value="@ViewData["Title"]"/>
      </div>
      <input type="hidden" asp-for="@Model.register" value="@ViewBag.reg"/>
    </form>
    <div class="switch">
    @if (@ViewBag.reg) {
      <label>Already have an account? </label>
      <a asp-controller="Auth" asp-action="Sign" asp-route-reg="false">Sign In</a>
    } else {
      <label>Don't have an account? </label>
      <a asp-controller="Auth" asp-action="Sign" asp-route-reg="true">Sign Up</a>
    }
    </div>
  </div>
</div>
